{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details Entry</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Student Details Entry</h1>
    </header>
    <main>
        <p style="color:red">All required fields are marked with*</p>
        <form method=get action="save">
            <p> 
                Resistration Id:*<input name="resistration_id" id="resistration_id" type="text" required><br>
            </p>
            <p>
                First Name &ThickSpace;&ThickSpace;&ThickSpace;:* <input name="first_name" id="first_name" type="text" required> &ThickSpace;Last Name &ThickSpace;&ThickSpace;&ThickSpace;:* <input name="last_name" id="last_name" type="text" required><br>
            </p>
            <p>
                Mail Id &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;:* <input name="email" id="email" type="email" required><br>
            </p>
            <p>
                Department&ThickSpace;&ThickSpace;&ThickSpace;:*
                <select name="department" id="department" required>
                    <option value="" required>---------Select Option--------</option>
                    <option value="Civil Engineering" required>Civil Engineering</option>
                    <option value="Chemical Engineering" required>Chemical Engineering</option>
                    <option value="Computer Science Engineering" required>Computer Science Engineering</option>
                    <option value="Electrical Engineering" required>Electrical Engineering</option>
                    <option value="Electrical and Electronic Engineering" required>Electrical and Electronic Engineering</option>
                    <option value="Electronic and Telecommunication Engineering" required>Electronic and Telecommunication Engineering</option>
                    <option value="Information Technology" required>Information Technology</option>
                    <option value="Machinical Engineering" required>Machinical Engineering</option>
                    <option value="Others" required>Others</option>
                </select><br>
            </p>
            <p>
                Phone Number:*<input name="phone_no" id="phone_no" type="text" required><br>
            </p>
            <div id="btn">
                <input id="submit" value="Submit" type="submit">
            </div>
            
        </form>
    </main>
    
</body>
</html>