<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumited</title>
</head>
<body>
    <p>Result Submited!!</p>
    <p>
        Resistation Id:{{resistration_id}}<br>
        First Name:{{first_name}}<br>
        Last Name:{{last_name}}<br>
        Mail Id:{{mail_id}}<br>
        Department:{{department}}<br>
        Phone Number:{{phone_no}}<br>
    </p>  
</body>
</html>