*{
    box-sizing: border-box;
}
header{
    background-color: rgb(17,124,143);
    text-align: center;
    color: white;
    padding: 40px;
}
main{
    background-color: lightpink;
    padding: 40px;
}
#submit{
    text-align: center;
    background-color: orange;
    font-size: 25px;
    font-weight: bold;
}
#btn{
    text-align: center;
}
p{
    font-size: 20px;
}